<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>emotion detector using NLP</title>
    <body style="background-color:powderblue;">
</head>
<body>
<h1>EMOTION DETECTOR NLP PROJECT</h1>
<h2 style="color:green">Predict emotions in text </h2>
    <form action="/predict" method="post" >
        <label>text</label><br>
        <br>
        <input type="text" name="text" placeholder="enter text"><br><br>

        <input type="submit" value="predict"><br><br>

        <h4 style="color:red">{{ prediction_text }}</h4>
    </form>

</body>
</html>
